@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Special+Elite&display=swap');


body {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #99a682;
}

    /*header part*/
header {
    margin: 0px;
}

h1, h2 {
    font-family: 'Special Elite', cursive;
}

h2 {
    /*font-family: Tahoma, Geneva, Verdana, sans-serif;*/
    text-decoration: none;
    color: #555555;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logotext {
    float: left;
    font-size: 280;
    
}

#headermenu {
    font-size: 115%;
    list-style-type: none;
    letter-spacing: 4px;
}

#headermenu li {
    float: right;
    margin-right: 30px;
}

/*this is for links */
#headermenu a {
    text-decoration: none;
    color: inherit;
}

/*this is just to align both pieces of text on the page */
#logotext, #headermenu {
    line-height: 100px;
}

.bglogo {
    background: url("../images/bghike.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;     
}

#headermenu a:hover {
    border-bottom: 3px solid salmon;
    border-top: 3px solid salmon;
}

.currentpage {
    border-bottom: 3px solid salmon;
}


#cover-text {
    font-size: 130%;
}

#cover-text, cover-text h2 {
    color:#555555;
    /*this needs to contrast with bg colour*/
}


    /*footer part*/
footer li {
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 4px;
    float: right;
    margin-right: 30px;
    width: 32px;
    height: 32px;

}

footer a:hover{
    color: salmon;
}

article {
    padding: 50px;
}

    /*individual parts*/
